PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=nest_app
DB_USER=postgres
DB_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/nest_app

JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret

MINIO_ACCESS_KEY=MINIO_ACCESS_KEY
MINIO_SECRET_KEY=MINIO_SECRET_KEY
MINIO_ENDPOINT=http://localhost:9000
MINIO_REGION=ru-central1
MINIO_BUCKET_NAME=legion

REDIS_PASSWORD=redis
REDIS_PORT=6379
REDIS_URL=redis://:redis@localhost:6379
CACHE_TTL=30000
